{% extends 'base.html' %}
<!doctype html>
<html lang="en">

<head>
    {% include 'messages.html' %} {% block content %}
    <title>BLOGS</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="/media/style.css?{% now " U " %}">

    <style>
        .image-parent {
            max-width: 40px;
        }
        
        .hover:hover {
            background-color: #ECF0E9;
        }
        
        .link {
            color: black;
            font-size: 1.5vmax;
        }
        
        .float {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 40px;
            right: 40px;
            background-color: #0C9;
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            box-shadow: 2px 2px 3px #999;
        }
        
        .floatright {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 40px;
            right: 120px;
            background-color: #3478F3;
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            box-shadow: 2px 2px 3px #999;
        }
        
        .my-float {
            margin-top: .8vmax;
            font-size: 3rem;
        }
    </style>
</head>

<body>

    <div class="container" style="margin-top:2vmax;">
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    {% for id, head, imgpath, create, answer in result %} {% if create == 'admin' and answer == '' %}
                    <li class="list-group-item d-flex justify-content-between align-items-center hover" style="background-color:#7EDBFA">
                        {% elif create == 'stock' and answer != '' %}
                        <li class="list-group-item d-flex justify-content-between align-items-center hover" style="background-color:#8FFA7E">
                            {% else %}
                            <li class="list-group-item d-flex justify-content-between align-items-center hover" style="background-color:#FF9DC1">
                                {% endif %}

                                <a href="/blog/detail/{{id}}" class="link">{{head}}</a>

                                <div class="d-flex justify-content-end align-items-center">
                                    <div class="image-parent">
                                        <img src="/{{imgpath}}" class="img-fluid" alt="{{head}}">
                                    </div>

                                    <div>
                                        <a href="/blog/delete_blog/{{id}}" class="btn btn-danger ms-5">Delete</a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                </ul>

            </div>
        </div>
    </div>
    <a href="#" class="float" onclick="document.getElementById('modal').style.display='block'">
        <i class="fa fa-plus my-float"></i>
    </a>
    <a href="#" class="floatright" onclick="document.getElementById('modalreserve').style.display='block'">
        <i class="fa fa-facebook my-float"></i>
    </a>

    <div id="modal" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom w3-card-4">
            <header class="w3-container w3-teal">
                <span onclick="document.getElementById('modal').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <h2>สร้างหัวเรื่อง</h2>
            </header>
            <datalist id="headerlist">
        {% for h in headerlist %}
        <option>{{h}}</option>
        {% endfor %}
    </datalist>
            <form method="post" enctype="multipart/form-data" action="/blog/add/">
                {% csrf_token %}
                <div class="w3-container" style="margin:2vmax;">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">หัวเรื่อง</span>
                        <input list="headerlist" type="text" class="form-control" id="header" name="header" value="">
                    </div>
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="Dobybot">
                        <label class="form-check-label" for="flexSwitchCheckDefault">ติ๊กถ้าต้องการ Note Dobybotn</label>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">รายละเอียด</span>
                        <textarea id="detail" name="detail" class="form-control" aria-label="With textarea" rows="3"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="me-2">
                            <label class="form-label">แนบรูป</label>
                        </div>
                        <input multiple type="file" name="myfile">
                    </div>
                </div>
                <footer class="w3-container w3-teal">
                    <div class="d-grid gap-2 col-6 mx-auto my-3">
                        <button id="confirm" name="confirm" class="btn btn-primary" type="submit">Button</button>
                    </div>
                </footer>
            </form>
        </div>
    </div>
    <div id="modalreserve" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom w3-card-4">
            <header class="w3-container w3-teal">
                <span onclick="document.getElementById('modalreserve').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <h2>จองสินค้า</h2>
            </header>
            <form method="post" enctype="multipart/form-data" action="/blog/addreserve/">
                {% csrf_token %}
                <div class="w3-container" style="margin:2vmax;">
                    <div class="input-group mb-3" style="margin-left:5vmax;width:40vmax;height:3vmax;">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 7vmax;text-align: center;">ชื่อเฟสบุ๊ค</span>
                        <input style="font-size: 1.4vmax;text-align: center;" type="text" class="form-control" id="fname" name="fname" value="">
                    </div>
                    <div class="input-group mb-3" style="margin-left:5vmax;width:40vmax;height:3vmax;">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 7vmax;text-align: center;">ชื่อสินค้า</span>
                        <input style="font-size: 1.4vmax;text-align: center;" list="sku_list" type="text" class="form-control" id="sku" name="sku" value=""> <datalist id="sku_list">
            <datalist id="sku_list">
                {% for sku in skus %}
                <option>{{sku}}</option>
                {% endfor %}
            </datalist>
                    </div>
                    <div class="input-group mb-3" style="margin-left:5vmax;width:40vmax;height:3vmax;">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 7vmax;text-align: center;">คอมเมนท์</span>
                        <textarea style="width:30vmax;height:10vmax;" id="comment" name="comment" class="form-control" aria-label="With textarea"></textarea>
                    </div>
                </div>
                <footer class="w3-container w3-teal" style="height:5.5vmax;margin-top:10vmax;">
                    <button id="confirm" name="confirm" type="submit " class="btn btn-primary " style="margin-left:20vmax;width: 20vw;font-size: 2.5vmax;height: 8vh;margin-top:1vmax;">ยืนยัน</button>
                </footer>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js " integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js " integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB " crossorigin="anonymous "></script>
    {% endblock content %}
</body>
