{% extends 'base.html' %}
<!doctype html>
<html lang="en">

<head>
    {% include 'messages.html' %} {% block content %}
    <title>UPSTOCK</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="/media/style.css?{% now " U " %}">
    <style>
        .row {
            margin-top: 1%;
            background-color: rgba(0, 0, 0, .4);
            color: #fff;
        }
        
        mark.red {
            color: #ff0000;
            background: none;
        }
    </style>
</head>

<body>


    {% load static %}
    <div class="container text-center">
        <div class="rounded-3 border border-3 border-dark row">
            <div class="col">
                <form method="post" enctype="multipart/form-data" action="/file/" style="margin-left:1vmax;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label"><h1>อัพของเข้า</h1> (ไว้ใช้สำหรับลงของเข้า ใช้ template ลง PO)</label>
                        <div></div>
                        <input type="file" name="myfile">
                        <button type="submit" onclick="this.disabled=true,this.form.submit();">Upload</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="rounded-3 border border-3 border-dark row">
            <div class="col">
                <form method="post" enctype="multipart/form-data" action="/VrichForm/" style="margin-left:1vmax;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label"><h1>VrichForm</h1>(ไว้ใช้สำหรับแปลง Excel ให้เป็น Vrich template)</label>
                        <div></div>
                        <input type="file" name="myfile">
                        <button type="submit">Upload</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <form method="post" enctype="multipart/form-data" action="/checkdiff/" style="margin-left:1vmax;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label"><h1>เช็ค diff</h1>(ไว้ใช้สำหรับเช็คจำนวนสต็อกปัจจุบันกับสต็อคที่พึ่งนับ)</label>
                        <div></div>
                        <input type="file" name="myfile">
                        <button type="submit" onclick="this.disabled=true,this.form.submit();">Upload</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <form method="post" enctype="multipart/form-data" action="/upstock/" style="margin-left:1vmax;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label"><h1>อัพสต็อก</h1>(สำหรับลงจำนวนสต็อกใหม่ทับ ใช้สำหรับลงสต็อกเท่านั้น)</label>
                        <div></div>
                        <input type="file" name="myfile">
                        <button type="submit" onclick="this.disabled=true,this.form.submit();">Upload</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="rounded-3 border border-3 border-dark row">
            <div class="col">
                <form method="post" enctype="multipart/form-data" action="/UpdateExcel/" style="margin-left:1vmax;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label"><h1>อัพเดทสต็อก Vrich</h1>(ใช้สำหรับเวลาดึงสต็อกไป - กลับ Vrich หรือเพื่อขึ้นไซส์)</label>
                        <div></div>
                        <input type="file" name="myfile">
                        <button type="submit" onclick="this.disabled=true,this.form.submit();">Upload</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <form method="post" enctype="multipart/form-data" action="/KorkaiUpload/" style="margin-left:1vmax;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label"><h1>ทำไฟล์ ก ไก่</h1>(ใช้สำหรับทำไฟล์ ก ไก่ เพื่อขายใน Vrich ใช้แล้วจะตัดสต็อกร้านเล็กตามจำนวน)</label>
                        <div></div>
                        <input type="file" name="myfile">
                        <button type="submit" onclick="this.disabled=true,this.form.submit();">Upload</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <form method="post" enctype="multipart/form-data" action="/UpdateOrderVrich/" style="margin-left:1vmax;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label"><h1>อัพเดทออเดอร์ Vrich</h1>(ใช้สำหรับดึงออเดอร์ไลฟ์มาเข้าระบบ คีย์รีเทิร์น)</label>
                        <div></div>
                        <input type="file" name="myfile">
                        <button type="submit" onclick="this.disabled=true,this.form.submit();">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <form method="post" action="/export/" style="margin-left:1vmax;margin-top:10vmax;">
        {% csrf_token %}
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" name='CheckinTable' value='CheckinTable'>Export ตารางเข้างาน</button>
        </div>
    </form>

    <form method="post" action="/exportrma/" style="margin-left:1vmax;margin-top:10vmax;">
        {% csrf_token %}
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" name='exportrma' value='exportrma'>Export รีเทิร์น</button>
        </div>
    </form>

    <form method="post" action="/managelive/" style="margin-left:1vmax;margin-top:10vmax;">
        {% csrf_token %}
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" name='manageLive' value='manageLive'>จัดห้องไลฟ์</button>
        </div>
    </form>


    <form id='form3' method="post" action="/transfer/" style="margin-left:1vmax;margin-top:10vmax;">
        {% csrf_token %}
        <div class="mb-3">
            <button type="submit" onclick="return myFunction('form3');" class="btn btn-primary" name='ZortToVrich' style="background-color:red" value='ZortToVrich'>ก่อนไลฟ์</button>
        </div>
        <div class="mb-3">
            <button type="submit" onclick="return myFunction('form3');" class="btn btn-primary" name="VrichToZort" value="VrichToZort" style="background-color:#C0F49B">หลังไลฟ์</button>
        </div>
    </form>
    <form id='form4' method="post" action="/postZero/" style="margin-left:1vmax;margin-top:10vmax;">
        {% csrf_token %}
        <div class="mb-3">
            <button type="submit" onclick="return myFunction('form4');" class="btn btn-primary" name='ZortToVrich' style="background-color:red" value='ZortToVrich'>ลง 0</button>
        </div>
    </form>
    <script>
        function myFunction(id) {
            let text;
            let person = prompt("พิมพ์ข้อความ 'confirm' เพื่อยืนยัน", "พิมพ์ข้อความ 'confirm' เพื่อยืนยันการลบข้อมูล");
            if (person === "confirm") {
                console.log(person)
                alert('กดเรียบร้อย');
                document.getElementById(id).submit();
            } else if (person == null) {
                return false;
            } else {
                alert('พิมพ์รหัสไม่ถูกต้อง');
                return false;
            }
            console.log(person)

            function clicked(text) {
                return confirm(text);
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js " integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js " integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB " crossorigin="anonymous "></script>
    {% endblock content %}
</body>