{% extends 'base.html' %}
<!doctype html>
<html lang="en">

<head>
    {% include 'messages.html' %}
    {% block content %}
    <title>TABLE</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="/media/style.css?{% now " U " %}">
    <style>
        .box {
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            opacity: .9;
        }
        
        .margin {
            margin-top: 0px;
            margin-bottom: 0px;
            margin-right: 0px;
            margin-left: 20px;
        }
        .form-check{
            display:inline-block; 
        }
        .float{
          position:fixed;
          width:60px;
          height:60px;
          right:40px;
          background-color:#0C9;
          color:#FFF;
          border-radius:50px;
          text-align:center;
          box-shadow: 2px 2px 3px #999;
        }
        
        .my-float{
          margin-top:.8vmax;
          font-size:3rem;
      }
    </style>
</head>

<body>
    <a href="#" class="float" onclick="document.getElementById('modalreserve').style.display='block'">
        <i class="fa fa-plus my-float"></i>
      </a>
      
      <div id="modalreserve" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom w3-card-4" style="width:65vmax;"> 
        <header class="w3-container w3-teal"> 
            <span onclick="document.getElementById('modalreserve').style.display='none'" 
            class="w3-button w3-display-topright">&times;</span>
            <h2>จองสินค้า</h2>
        </header>

    <form method="post" action="/RMA/addorder/" onkeydown="return event.key != 'Enter';">
        {% csrf_token %}
        <div class="w3-container" style="margin:2vmax;width:80vmax;">
                <div class="input-group mb-3" style="width:50vmax;font-size:1.2vmax;">
                    <table class="table table-hover" name="table999" id="table999">
                        <thead>
                            <tr style='text-align:center;'>
                                <th scope="col">ชื่อสินค้า</th>
                                <th scope="col" style = "width:5vmax;">จำนวน</th>
                                <th scope="col" style = "width:5vmax;">ราคาต่อหน่วย</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                              <td>
                                      <input style="width:20vmax;" id="999productid1" list="sku_list" name="999productid1" type="text" class="form-control" onkeydown="if (event.keyCode == 13) { add_fields('999'); return false; }" onchange="autoPrice('999','999productid1','999priceid1')" autofocus>
                                        <datalist id="sku_list">
                                            {% for sku in skus %}
                                            <option>{{sku}}</option>
                                            {% endfor %}
                                        </datalist>
                                </td>
                                <td>
                                        <input style="width:10vmax;" id="999amountid1" name="999amountid1" type="number" min=0 class="form-control" value="1"  onchange="autoPrice('999','999productid1','999priceid1','999amountid1')">
                                </td>
                                <td>
                                        <input style="width:10vmax;" id="999priceid1" name="999priceid1" type="text" class="form-control" onchange="autoCalculatePrice('999')" >
                                </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            <div class="input-group mb-3" style="width:50vmax;height:3vmax;">
                <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">ส่วนลด</span>
                <input  style="width:30vmax;" type="text" min=0 required  id="999discount" name="999discount" class="form-control" value="0" onchange="autoCalculateAll('999')"></input>
            </div>
            <div class="input-group mb-3" style="width:50vmax;height:3vmax;">
                <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">ค่าส่ง</span>
                <input  style="width:30vmax;" type="text" min=0 required  id="999deli_fee" name="999deli_fee" class="form-control" value="0" onchange="autoCalculateAll('999')"></input>
            </div>
            <div class="input-group mb-3" style="width:50vmax;height:3vmax;">
                <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;" >ราคาสินค้าทั้งหมด</span>
                <input  style="width:30vmax;" type="text" min=0 required id="999totalPrice" name="999totalPrice" class="form-control" value="0" onchange="autoCalculateAll('999')" readonly ></input>
            </div>
            <div class="input-group mb-3" style="width:50vmax;height:3vmax;">
                <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">ยอดรวม</span>
                <input  style="width:30vmax;" type="text" min=0 required  id="999sum" name="999sum" class="form-control" value="0" onchange="autoCalculateAll('999')" readonly ></input>
            </div>
            <div class="input-group mb-3" style="width:50vmax;height:3vmax;">
                <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">ชื่อลูกค้า</span>
                <input style="width:30vmax;"  type="text" id="999cstname" name="999cstname" class="form-control" value=""></input>
            </div>
            <div class="input-group mb-3" style="width:50vmax;height:3vmax;">
                <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">เบอร์โทร</span>
                <input style="width:30vmax;"  type="text" id="999tel2" name="999tel2" class="form-control" value=""></input>
            </div>
            <div class="input-group mb-3" style="width:50vmax;height:3vmax">
                <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">จัดส่งใหม่ที่</span>
                <textarea style="width:30vmax;"  id="999addr" name="addr" class="form-control" aria-label="With textarea" ></textarea>
            </div>
            <div class="input-group mb-3" style="width:50vmax;height:3vmax;margin-top:3vmax;">
                <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">ช่องทางการขนส่ง</span>
                <select id="shippingCompany" name="shippingCompany" class="form-control" style="text-align:center;font-size:1.5vmax;width:30vmax;">
                <option value="ไปรษณีย์ไทย">ไปรษณีย์ไทย</option>
                <option value="EMS (COD)">EMS (COD)</option>
            </select>
            </div>
            <div class="input-group mb-3" style="width:50vmax;height:3vmax;margin-top:3vmax;">
                <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">ช่องทางการชำระเงิน</span>
                <select id="Payment" name="Payment" class="form-control" style="text-align:center;font-size:1.5vmax;width:30vmax;">
                <option value="โอนผ่านธนาคาร">โอนผ่านธนาคาร</option>
                <option value="COD">COD</option>
            </select>
            </div>
        </div> 
        <footer class="w3-container w3-teal"style="height:5.5vmax;">
            <button  onclick="this.disabled=true,this.form.submit();" id="confirm" name="confirm" type="button " class="btn btn-primary " style="width: 20vw;font-size: 2.5vmax;height: 8vh;margin-top:1vmax;">ยืนยัน</button>
        </footer>
        </div>
        </form>
    </div>
    <form method="post" action="/RMA/" style="margin-left:10vmax;">
        {% csrf_token %}
<div class="input-group mb-3" style="width:75vmax;height:3vmax;margin-top:2vmax;">
            <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 7vw;text-align: center;">ชื่อรายการ</span>
            <input style="font-size: 2vmax;" type="text" class="form-control" aria-label="Sizing example input" id="fbname" name="number">
            <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 7vw;">เลขพัสดุ</span>
            <input style="font-size: 2vmax;" type="text" class="form-control" aria-label="Sizing example input" id="trackingno" name="trackingno">
</div>
        <div class="form-check">
        <button   onclick="this.disabled=true,this.form.submit();" id="downloads" name="downloads" type="button " class="btn btn-primary " style="width: 20vw;font-size: 2.5vmax;height: 8vh;margin-left:17vmax;">ยืนยัน</button>
        </div>
    </form>
    <table class="table table-striped box table-sortable" style="width: 100%;font-size: 1.5vmax; height:1vh;" >
        <thead>
            <tr style="padding-left: 150%;letter-spacing: 0.3rem;text-align:center;">
                <th scope="col ">#</th>
                <th scope="col ">IDORDER</th>
                <th scope="col ">ชื่อรายการ</th>
                <th scope="col ">ชื่อลูกค้า</th>
                <th scope="col ">เวลาสั่ง</th>
                <th scope="col ">TrackingNo</th>
            </tr>
        </thead>
        <tbody>
            {% for idorder,cstname,packedtime,tel,trackingno,addr,tel2 in data %}
            <tr style="text-align:center;">
                <td scope="row ">{{forloop.counter}}</td>
                <td>
                    {{idorder}}
                </td>
                <td>
                    
                    <a style="color:blue;" href="#" onclick="document.getElementById('modal{{cstname}}').style.display='block';">{{cstname}}</a>
                    
                <div id="modal{{cstname}}" class="w3-modal">
                    <div class="w3-modal-content w3-animate-zoom w3-card-4" style="width:65vmax;"> 
                    <header class="w3-container w3-teal"> 
                        <span onclick="document.getElementById('modal{{cstname}}').style.display='none'" 
                        class="w3-button w3-display-topright">&times;</span>
                        <h2>บันทึกการส่งคืนของ</h2>
                    </header>

                <form method="post" action="/RMA/add/{{idorder}} {{cstname}}/" onkeydown="return event.key != 'Enter';">
                    {% csrf_token %}
                    <div class="w3-container" style="margin:2vmax;width:80vmax;">
                        <div class="input-group mb-3" style="width:50vmax;height:3vmax;">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">เลขพัสดุจากลูกค้า</span>
                            <input style="font-size: 1.4vmax;text-align: center;width:30vmax;" type="text" class="form-control" id="csttrackingno" name="csttrackingno" value="">
                        </div>
                        <div class="input-group mb-3" style="width:50vmax;height:3vmax;">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">เปลี่ยนสินค้า / ตีกลับ</span>
                        <select id="type" name="type" class="form-control" style="text-align:center;font-size:1.5vmax;width:30vmax;" >
                            <option value="เปลี่ยนสินค้า">เปลี่ยนสินค้า</option>
                            <option value="ตีกลับ">ตีกลับ</option>
                        </select>
                        </div>
                        <div class="input-group mb-3" style="width:50vmax;height:3vmax;">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">สาเหตุ</span>
                            <select id="{{idorder}}reason" name="reason" class="form-control" style="text-align:center;font-size:1.5vmax;width:30vmax;" onchange="sSelect('{{idorder}}reason')" required>
                            <option value="">โปรดระบุสาเหตุ</option>
                            <option value="สต็อคส่งสินค้าผิด">สต็อคส่งสินค้าผิด</option>
                            <option value="แอดมินคีย์สินค้าผิด">แอดมินคีย์สินค้าผิด</option>
                            <option value="ต้องการเปลี่ยนรุ่น">ต้องการเปลี่ยนรุ่น</option>
                            <option value="ต้องการเปลี่ยนไซส์">ต้องการเปลี่ยนไซส์</option>
                            <option value="สินค้าหลุด QC">สินค้าหลุด QC</option>
                            <option value="อื่น">อื่นๆ</option>
                        </select>
                        </div>
                        <div class="input-group mb-3" style="width:50vmax;height:3vmax;display:none;" id="etc">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">โปรดระบุ...</span>
                            <input style="font-size: 1.4vmax;text-align: center;width:30vmax;" type="text" class="form-control" id="etc_input" name="etc_input" value="">
                        </div>
                        {% for IDOrder2,descript2,price,_ in popup_data  %}
                        {% if IDOrder2 == idorder %}
                        <div class="input-group mb-3" style="width:50vmax;height:3vmax;font-size:1.2vmax;">
                            <span class="input-group-text" id="{{forloop.counter}}changed_product_span" name="{{forloop.counter}}changed_product_span" style="width: 20vmax;text-align: center;" value="{{descript2}}">{{descript2}}</span>
                            <input type="text" class='form-control' id="{{idorder}}{{descript2}}price" name="{{idorder}}{{descript2}}price" value="{{price}}" style="display:none;width:30vmax;">
                            <input style="width:30vmax;" type="checkbox" class="btn-check" id="return{{IDOrder2}}{{forloop.counter}}{{descript2}}" name="return{{IDOrder2}}{{forloop.counter}}{{descript2}}" value="{{descript2}}" autocomplete="off" onclick="autoCalculate('return{{IDOrder2}}{{forloop.counter}}{{descript2}}','{{idorder}}{{descript2}}price','{{idorder}}')">
                            <label class="btn btn-outline-primary" style="width:30vmax;font-size:1.5vmax" for="return{{IDOrder2}}{{forloop.counter}}{{descript2}}">เปลี่ยนสินค้า</label><br>
                            
                            </div>
                            
                            {% endif %}
                            {% endfor %}
                            <div class="input-group mb-3" style="width:50vmax;font-size:1.2vmax;">
                                <table class="table table-hover" name="table{{idorder}}" id="table{{idorder}}">
                                    <thead>
                                        <tr style='text-align:center;'>
                                            <th scope="col">ชื่อสินค้า</th>
                                            <th scope="col" style = "width:5vmax;">จำนวน</th>
                                            <th scope="col" style = "width:5vmax;">ราคาต่อหน่วย</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                          <td>
                                                  <input style="width:20vmax;" id="{{idorder}}productid1" list="sku_list" name="{{idorder}}productid1" type="text" class="form-control" onkeydown="if (event.keyCode == 13) { add_fields('{{idorder}}'); return false; }" onchange="autoPrice('{{idorder}}','{{idorder}}productid1','{{idorder}}priceid1')" autofocus>
                                                    <datalist id="sku_list">
                                                        {% for sku in skus %}
                                                        <option>{{sku}}</option>
                                                        {% endfor %}
                                                    </datalist>
                                            </td>
                                            <td>
                                                    <input style="width:10vmax;" id="{{idorder}}amountid1" name="{{idorder}}amountid1" type="number" min=0 class="form-control" value="1"  onchange="autoPrice('{{idorder}}','{{idorder}}productid1','{{idorder}}priceid1','{{idorder}}amountid1')">
                                            </td>
                                            <td>
                                                    <input style="width:10vmax;" id="{{idorder}}priceid1" name="{{idorder}}priceid1" type="text" class="form-control" onchange="autoCalculatePrice('{{idorder}}')" >
                                            </td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        <div class="input-group mb-3" style="width:50vmax;height:3vmax;">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">เครดิต</span>
                            <input  style="width:30vmax;" type="number" min=0 required  id="{{idorder}}credit" name="{{idorder}}credit" class="form-control" value="0" onchange="autoCalculateAll('{{idorder}}')"></input>
                        </div>
                        <div class="input-group mb-3" style="width:50vmax;height:3vmax;">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">ส่วนลด</span>
                            <input  style="width:30vmax;" type="text" min=0 required  id="{{idorder}}discount" name="{{idorder}}discount" class="form-control" value="0" onchange="autoCalculateAll('{{idorder}}')"></input>
                        </div>
                        <div class="input-group mb-3" style="width:50vmax;height:3vmax;">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">ค่าส่ง</span>
                            <input  style="width:30vmax;" type="number" min=0 required  id="{{idorder}}deli_fee" name="{{idorder}}deli_fee" class="form-control" value="0" onchange="autoCalculateAll('{{idorder}}')"></input>
                        </div>
                        <div class="input-group mb-3" style="width:50vmax;height:3vmax;">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;" >ราคาสินค้าทั้งหมด</span>
                            <input  style="width:30vmax;" type="number" min=0 required id="{{idorder}}totalPrice" name="{{idorder}}totalPrice" class="form-control" value="0" onchange="autoCalculateAll('{{idorder}}')" readonly ></input>
                        </div>
                        <div class="input-group mb-3" style="width:50vmax;height:3vmax;">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">ยอดรวม</span>
                            <input  style="width:30vmax;" type="number" min=0 required  id="{{idorder}}sum" name="{{idorder}}sum" class="form-control" value="0" onchange="autoCalculateAll('{{idorder}}')" readonly ></input>
                        </div>
                        <div class="input-group mb-3" style="width:50vmax;height:3vmax;">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">ชื่อลูกค้า</span>
                            <input style="width:30vmax;"  type="text" id="{{idorder}}cstname" name="{{idorder}}cstname" class="form-control" value="{{packedtime}}"></input>
                        </div>
                        <div class="input-group mb-3" style="width:50vmax;height:3vmax;">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">เบอร์โทร</span>
                            <input style="width:30vmax;"  type="text" id="{{idorder}}tel2" name="{{idorder}}tel2" class="form-control" value="{{tel2}}"></input>
                        </div>
                        <div class="input-group mb-3" style="width:50vmax;height:3vmax">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">จัดส่งใหม่ที่</span>
                            <textarea style="width:30vmax;"  id="{{idorder}}addr" name="addr" class="form-control" aria-label="With textarea" >{{addr}}</textarea>
                        </div>
                        <div class="input-group mb-3" style="width:50vmax;height:3vmax;margin-top:3vmax;">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">ช่องทางการขนส่ง</span>
                            <select id="shippingCompany" name="shippingCompany" class="form-control" style="text-align:center;font-size:1.5vmax;width:30vmax;">
                            <option value="ไปรษณีย์ไทย">ไปรษณีย์ไทย</option>
                            <option value="EMS (COD)">EMS (COD)</option>
                        </select>
                        </div>
                        <div class="input-group mb-3" style="width:50vmax;height:3vmax;margin-top:3vmax;">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">ช่องทางการชำระเงิน</span>
                            <select id="Payment" name="Payment" class="form-control" style="text-align:center;font-size:1.5vmax;width:30vmax;">
                            <option value="โอนผ่านธนาคาร">โอนผ่านธนาคาร</option>
                            <option value="COD">COD</option>
                        </select>
                        </div>
                        <div class="input-group mb-3" style="width:50vmax;height:3vmax;">
                        <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size: 1.5vmax;width: 20vmax;text-align: center;">ส่งสินค้าเมื่อ</span>
                        <select id="when_to_send" name="when_to_send" class="form-control" style="text-align:center;font-size:1.5vmax;width:30vmax;">
                            <option value="รอยืนยันพัสดุ">รอยืนยันพัสดุ</option>
                            <option value="ส่งทันที">ส่งทันที</option>
                        </select>
                        </div>
                    </div> 
                    <footer class="w3-container w3-teal"style="height:5.5vmax;">
                        <button  onclick="this.disabled=true,this.form.submit();" id="confirm" name="confirm" type="button " class="btn btn-primary " style="width: 20vw;font-size: 2.5vmax;height: 8vh;margin-top:1vmax;">ยืนยัน</button>
                    </footer>
                    </div>
                    </form>
                </div>
                </td>
                <td>
                    {{packedtime}}
                </td>
                <td>
                    {{tel}}
                </td>
                <td>
                {{trackingno}}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% autoescape off %}
    <script type="text/javascript">
        let price_dict = {{price_dict}};
    </script>
    {% endautoescape %}

<script>
    
    function phonesplit(text){
        text = document.getElementById(text);
        var re = /(0\d{1}-\d{3}-\d{4}|0\d{1}-\d{7}|0\d{9})/; 

        var str = text.value;
        console.log(str);
        var res = str.match(re).map(function(s){return s.trim();});
        console.log(res);
        
    }

function autoCalculateAll(id){
    var credit = document.getElementById(id + 'credit');
    var price = document.getElementById(id + 'totalPrice');
    var discount = document.getElementById(id + 'discount');
    var sumall = document.getElementById(id + 'sum');
    var deli_fee = document.getElementById(id + 'deli_fee');
    if (discount.value.includes("%")){

    sumall.value = (parseInt(price.value) - ((parseInt(price.value) * parseInt(discount.value))/100)) - parseInt(credit.value) + parseInt(deli_fee.value);
    console.log('%');
    }
    else{
        if (credit == null){

            sumall.value = (parseInt(price.value) - parseInt(discount.value)) + parseInt(deli_fee.value);
        }
        else{

            sumall.value = (parseInt(price.value) - parseInt(discount.value)) - parseInt(credit.value) + parseInt(deli_fee.value);
        }
}
}

function autoCalculatePrice(id){
    var oTable = document.getElementById('table' + id);

    var totalPrice = document.getElementById(id + 'totalPrice');
    
    var sum = 0;

    //gets rows of table
    var rowLength = oTable.rows.length;

    //loops through rows    
    for (i = 1; i < rowLength; i++){

      //gets cells of current row  
       var oCells = oTable.rows.item(i).cells;

       //gets amount of cells of current row
       var cellLength = oCells.length;

       //loops through each cell in current row

        var amount_value = oCells.item(1).getElementsByTagName("input")[0].value;
        var price_value = oCells.item(2).getElementsByTagName("input")[0].value;
        sum += parseInt(price_value) * parseInt(amount_value);
    }
    totalPrice.value = sum;
    totalPrice.setAttribute('value', sum);
    autoCalculateAll(id);
}

function autoPrice(idorder,id,priceid){
    //console.log(price_dict);
    var price = document.getElementById(priceid);
    var sku = document.getElementById(id);
    var replaced = sku.value.replace(/ /g, '');
    try {
        price.value = price_dict[replaced];
        price.setAttribute('value', price_dict[replaced]);
    }
    catch(err) {
          price.value = 0;
          price.setAttribute('value',0);
      }
    autoCalculatePrice(idorder);
}

function add_fields(id) {  
    var table = document.getElementById("table" + id);
    table.insertRow(-1).innerHTML = `<tr><td><input style="width:20vmax;" list="sku_list" id="${id}productid${table.rows.length - 1}" name="${id}productid${table.rows.length - 1}" type="text" class="form-control" onkeydown="if (event.keyCode == 13) { add_fields('${id}'); return false; }" onchange="autoPrice('${id}','${id}productid${table.rows.length - 1}','${id}priceid${table.rows.length - 1}')" autofocus></td><td><input style="width:10vmax;" id="${id}amountid${table.rows.length - 1}" value=1 type="number" min=0 name="${id}amountid${table.rows.length - 1}" onchange="autoCalculatePrice('${id}')" class="form-control" ></td><td><input id="${id}priceid${table.rows.length - 1}" name="${id}priceid${table.rows.length - 1}" onchange="autoCalculatePrice('${id}')" style="width:10vmax;" type="text" class="form-control" ></td></tr>`;
    }

    function autoCalculate(id,price,idorder) {
        // Get the checkbox
        var checkBox = document.getElementById(id);
        var price_value = document.getElementById(price);
        // Get the output text
        var text = document.getElementById(idorder + "credit");
      
        // If the checkbox is checked, display the output text
        if (checkBox.checked == true){
            text.value = (parseInt(text.value) + parseInt(price_value.value)).toString();
        } else {
            text.value = (parseInt(text.value) - parseInt(price_value.value)).toString();
        }
        autoCalculateAll(idorder);
      }
      
	function sSelect(id){
		index = document.getElementById(id).value;
        console.log(index);
		if(index == 'อื่น'){
			document.getElementById('etc').style.display='';
		}
        else{
            document.getElementById("etc").style.display="none";
        }
	}

// Get the modal=
function show_image(id){
var modal = document.getElementById("myModalImg");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById(id);
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
modal.style.display = "block";
modalImg.src = img.src;
captionText.innerHTML = img.alt;
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
  modal.style.display = "none";
}
}
</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js " integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js " integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB " crossorigin="anonymous "></script>

    <script>
        function show_popup(id) {
            var popup = document.getElementById(id);
            popup.classList.toggle("show");
            }        
        function CopyToClipboard(id) {
            var r = document.createRange();
            document.getElementById("i"+id).src = '/media/copy2.png';
            document.getElementById(id).style.display = "block";
            r.selectNode(document.getElementById(id));
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(r);
            document.execCommand('copy');
            window.getSelection().removeAllRanges();
            document.getElementById(id).style.display = "none";
            show_popup("popup2"+id);
            setTimeout(function(){ document.getElementById("i"+id).src = '/media/copy.png';document.getElementById("popup2"+id).classList.toggle("show"); }, 1000);
            
        }
    </script>
    <script src="/media/sort.js"></script>
    {% endblock content %}
</body>